<style>
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.bold {
    font-weight: 800;
}
</style>

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="scripts/jq.js"></script>
<header>
        <h1>Мой магазин</h1>
        <nav>
            <ul>
                <li><a id="toIndex" href="/">Главная страница</a></li>
                <li><a id="toCategories" href="/categories">Категории</a></li>
                <li><a id="toCart" href="/cart">Корзина</a></li>
                <li><a id="toAdmin" href="/admin">Админ-панель</a></li>
            </ul>
        </nav>
</header>
<script>
    console.log(document.location.pathname)
    if (document.location.pathname == "/") {
        $("#toIndex").toggleClass("bold")
    } else if (document.location.pathname == "/categories") {
        $("#toCategories").toggleClass("bold")
    } else if (document.location.pathname == "/cart") {
        $("#toCart").toggleClass("bold")
    } else if (document.location.pathname == "/admin") {
        $("#toAdmin").toggleClass("bold")
    }
</script>